@import "../../styles/mixins";
@import "../../styles/colors";

.single-post {
  margin: 5% 0;

  h2 {
    margin-top: 0;
  }

  .single-page-content {
    display: flex;


    .title-container {
      width: 90%;
      margin: 0 auto;

      h1 {
        font-size: 32px;
        line-height: 1.325;
        text-align: center;
      }
    }

    .left-column {
      @include box-shadow;
      background-color: $white;
      width: 75%;
      margin-right: 2%;
      border-radius: 5px;
    }

    .right-column {
      width: 28%;

      p {
        margin-top: 0;
      }

      .post-info-box {
        margin-bottom: 5%;
        @include post-box
      }

      .post-info-row {
        display: flex;
        align-content: center;
        justify-content: center;
      }

      .time-views {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-left: 10px;
        margin-right: 5px;
        font-weight: lighter;
        cursor: pointer;

        p {
          margin-left: 5px;
          margin-top: 3px;
        }
      }

      .author-row {
        margin-top: 15px;
        margin-bottom: 15px;

        .post-user-avatar {
          margin: 0 auto;
          width: 100px !important;
          height: 100px !important;
        }

        .user-nickname {
          margin-top: 5%;
          text-transform: capitalize;
          font-size: 24px;
        }
      }
    }
  }

  .post-image {
    //margin-top: 2%;
    width: 100%;
  }

  .post-description {
    margin: 2% auto;
    width: 80%;
    text-align: center;
    font-size: 12px;
  }

  .post-content {
    margin: 5% auto;
    width: 70%;
    text-align: left;
  }

  .newest-posts {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    @include post-box
  }

  .newest-post-container {

    .newest-post-img-container {
      position: relative;
      min-height: 200px;
      height: 200px;
      width: 250px;
      padding: 0 10px;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
      }

      .newest-post-info {
        h3 {
          font-size: 16px;
          margin-bottom: 0;
        }

        .post-info {
          display: flex;
          justify-content: center;
        }

        .info-col {
          margin-left: 10px;
          margin-right: 10px;
          display: flex;
        }

        .info-text {
          margin-left: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: lighter;
        }

        .MuiSvgIcon-root {
          width: 15px;
        }

        p {
          margin: 0;
        }
      }
    }

    .newest-post-img-container:focus {
      outline: none;
    }
  }
}