@import "./styles/colors";
@import "./styles/mixins";

body {
  background-color: #cfcfd4;
}

.App {
  text-align: center;

  .app-content {
    width: 100%;
    max-width: 1300px;
    margin: 20px auto;
  }
}
